.cart-dialog {
    height: 500px;
    position: fixed;
    top: 90px;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 10px 65px -24px rgba(0, 0, 0, 0.37);
}

.cart-dialog__close {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: 0.3s;
}

.cart-dialog__close:hover {
    transform: scale(1.1) rotate(10deg);
}

.cart-dialog__close > img {
    height: 100%;
    width: 100%;
}

.cart-dialog__title {
    font-size: 42px;
    text-align: center;
}
